body {
  background: #f5f8fd;
  color: #000;
  font-family: "Nunito Sans", Arial, sans-serif;
  line-height: 1.8;
}
body {
  background: white;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #6c757d;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}
element {

}
header:not(.o_header_no_transition) .navbar-brand img {

    transition: height 200ms;

}
header .navbar-brand.logo img {

    object-fit: contain;
    display: block;
    width: auto;
    height: 2.5rem;
    display: none;

}
  @media (min-width: 992px)
.d-lg-none {
  display: none !important;
}
[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border-radius: 0;
}
.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #fff;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
#header.header-scrolled, #header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.3));
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}
#topbar {
  padding: 0 0 10px 0;
  font-size: 14px;
  transition: all 0.5s;
}
.pr-4, .px-4 {
  padding-right: 1.5rem !important;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#topbar .social-links {
  text-align: right;
}
#topbar {
  font-size: 14px;
}
#___gcse_0 {
  display: none;
  width: 350px;
  z-index: 1000;
  position: absolute;
  background: transparent;
  right: 20%;
  top: 10px;
}
.gsc-control-cse {
  border-color: #FFFFFF;
  background-color: #999999;
}
.gsc-control-cse {
  font-family: meiryo, arial, sans-serif;
}
.gsc-control-cse {
    background-color: #fff;
    border: 1px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
}
.gsc-control-cse, .gsc-control-cse .gsc-table-result {
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
.gsc-control-cse {
  padding: 1em;
}
.gsc-control-wrapper-cse {
  width: 100%;
}
form.gsc-search-box {
  font-size: 13px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  width: 100%;
}
table.gsc-search-box td.gsc-input {
  padding-right: 12px;
}
table.gsc-search-box td {
  vertical-align: middle;
}
.gsc-input {
  font-size: 16px;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
  border-color: #DFE1E5;
}
.gsc-input-box {
    border: 1px solid #dfe1e5;
    border-top-color: rgb(223, 225, 229);
    border-right-color: rgb(223, 225, 229);
    border-bottom-color: rgb(223, 225, 229);
    border-left-color: rgb(223, 225, 229);
    background: #fff;
}
.gsc-input {
  font-size: 16px;
}
table {
  border-collapse: collapse;
}
table.gsc-search-box td {
  vertical-align: middle;
}
.gsib_a {
  padding: 5px 9px 4px 9px;
}
.gsib_a, .gsib_b {
  vertical-align: top;
}
.gsib_a {
  width: 100%;
  padding: 4px 6px 0;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.gsst_b {
  font-size: 16px;
  padding: 0 2px;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  white-space: nowrap;
}
#topbar .social-links a:first-child {
  border-left: 0;
}
#topbar .social-links a {
  color: white;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
}
.gsst_a {
  cursor: pointer;
  padding: 0 4px;
}
.gsst_a {
  display: inline-block;
}
a {
  cursor: pointer;
}
a {
  color: #1bb1dc;
  transition: 0.5s;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
  outline: 0 !important;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.gsst_a .gscb_a {
  color: #a1b9ed;
  cursor: pointer;
}
.gscb_a {
  line-height: 27px;
}
.gscb_a {
  display: inline-block;
  font: 27px/13px arial,sans-serif;
    line-height: 13px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-search::before {
  content: "\f002";
}
.fa-linkedin::before {
  content: "\f0e1";
}

.fa-facebook-f::before, .fa-facebook::before {

    content: "\f09a";

}
.fa-youtube::before {
  content: "\f167";
}
.p-0 {
  padding: 0 !important;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  position: absolute;
  width: 90%;
  top: 153px;
  left: 5%;
  padding: 10px;
}
.float-left {
  float: left !important;
}
.d-md-block {
  display: block !important;
}

#header .logo img {
  padding: 0;
  margin: 12px 0;
  width: 90px;
}
.strch-img {
  height: intrinsic;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
#header .logo h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
h1, h2, h3, h4, h5 {
  font-family: 'Lexend Deca', sans-serif;
  ro", arial, sans-serif;: ;
}
h2, .h2 {
  font-size: 1rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 400;
  line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: white;
  text-decoration: none;
}
#header p {
  text-shadow: 1px 1px 1px #000;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}
.main-nav, .main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}
.float-right {
  float: right !important;
}
  @media (min-width: 992px)
.d-lg-block {
  display: block !important;
}


.main-nav .drop-down > a::after {

    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;

}
.container {
  max-width: 1260px;
}
.o_cc1, .navbar-light, #wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_top_menu_collapse_shown) > .navbar {
  background-color: black;
  color: ;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: block;
}
.ml-lg-auto, .mx-lg-auto {
    margin-left: auto !important;
    display: block;
}
.main-nav a {

    display: block;
    position: relative;
    color: white;
    padding: 10px 8px;
    transition: 0.3s;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;

}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.text-white {
  color: #fff !important;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  background: #000000;
}
.Bg-Blue {
  background-color: #0f95b9;
}
.w-100 {
  width: 100% !important;
}
.col-md-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.pl-3, .px-3 {
  padding-left: 1rem !important;
}
.pb-3, .py-3 {
  padding-bottom: 1rem !important;
}
.pr-3, .px-3 {
  padding-right: 1rem !important;
}
.pt-3, .py-3 {
  padding-top: 1rem !important;
}
.fa-bell::before {
  content: "\f0f3";
}
.col-md-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.EMEA {
  background-color: transparent;
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.57));
}
  @media (min-width: 768px)
.col-md-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.pt-2, .py-2 {
  padding-top: .5rem !important;
}
.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.mb-2, .my-2 {
  margin-bottom: .5rem !important;
}
.mt-2, .my-2 {
  margin-top: .5rem !important;
}
.container {
  max-width: 1260px;
}
.info-color {
  background-color: red;
}
.mb-2, .my-2 {
  margin-bottom: .5rem !important;
}
.m-0 {
    margin: 0 !important;
    margin-bottom: 0px;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid rgba(0,0,0,.1);
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
#header.header-scrolled, #header.header-pages {
    height: 70px;
    padding: 15px 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.3));
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
o_cc5, .o_footer {
  background-color: #383E45;
  color: #FFFFFF;
  display: none;
}
.footersmalllink a {
  font-size: 10px;
  color: #fff;
  padding: 2px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.strch-img {
  height: intrinsic;
}
.ml-auto, .mx-auto {
  margin-left: auto !important;
}
.mr-auto, .mx-auto {
  margin-right: auto !important;
}
.d-block {
    display: block !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
.owl-carousel {
    display: block;
    width: 100%;
    z-index: 1;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-carousel .owl-item {
    float: left;
}
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}
.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}
.line-height {
    line-height: 1.4;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
a {
    color: #1bb1dc;
    transition: 0.5s;
}
.owl-pagination {
    position: absolute;
    padding: 0px 0px 0px 90px;
    text-align: center;
    margin-top: -2px;
    margin-bottom: -10px;
}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #759dbe;
}
body:not(.o_fullscreen) #oe_main_menu_navbar:not(.o_hidden) + #wrapwrap .o_header_affixed, body:not(.o_fullscreen) #oe_main_menu_navbar:not(.o_hidden) + #wrapwrap .modal {
    top: 46px;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.3));
    background-color: transparent;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    display: none;
}
.o_cc1, .navbar-light, #wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_top_menu_collapse_shown) > .navbar {
    background-color: transparent;
    color: white;
}
header#top {
    display: block;

}
#header.header-scrolled #topbar, #header.header-pages #topbar {
  display: block;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: white;
}
.header-scrolled .logo h1 a, .header-scrolled .logo h1 a:hover {
  color: white !important;
}
.main-pages {
  margin-top: 60px;
}
.navbar .btn {
  white-space: nowrap;
  display: none;
}
.header-scrolled .logo{

    width:auto;
    top: -6px;
    margin-left: 31px;
}

#header .logo h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000;

}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #1bb1dc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.outerDiv {
  overflow: hidden;
  width: -moz-available;
}

.horizontal > .innerDiv {
  width: max-content;
  /* We want to create overflow of twice our available space. */
  padding: 0 100%;
}

/* disable scrolling in contenteditable */
:host(:read-write) .innerDiv {
  padding: 0 !important;
}

/* When printing or when the user doesn't want movement, we disable scrolling */
@media print, (prefers-reduced-motion) {
  .innerDiv {
    padding: 0 !important;
  }
}
.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}
.main-nav, .main-nav * {
  margin: 0;
  padding: 4px;
  list-style: none;
}
.main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {
  color: #fff;
  background-color: #1bb1dc;
}
.main-nav .drop-down ul a {
  padding: 4px 20px;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}
.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
  color: #1bb1dc;
  text-decoration: none;
}
.main-nav a {
  display: block;
  position: relative;
  color: white;
  padding: 10px 8px;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
a:hover, a:active, a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.main-nav, .main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  cursor: pointer;
}
a {
  color: #1bb1dc;
  transition: 0.5s;
}

#header {
    position: absolute;
    height: 140px;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all .3s ease: transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    left: 0;
    right: 0;
    transition: all 0.5s;

}
.back-to-top {
  position: fixed;
  display: block;
  background: #0f95b9;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}
.header-scrolled img {
  display: none;
}

.header-scrolled .logo h1 a, .header-scrolled .logo h1 a:hover {
  color: white !important;
  text-decoration: none;
}
#intro {
  width: 100%;
  position: relative;
  background: #f5f8fd url("") center top no-repeat;
  background-size: cover;
}
.hover2:hover {
  background-color:white;
  color: #0f95b9;
}
.hover1:hover {
  background-color: #0f95b9;
  color: white;
}
.Bg-blue {
  background-color: #0f95b9;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #759dbe;
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0px 6px;
  background: #15587d;
  border-radius: 10px;
}
.owl-theme .owl-controls .owl-page{
      display:inline-block;
      zoom: 1;
}
.owl-pagination {
  position: absolute;
  padding: 0px 0px 0px 0px;
  text-align: center;
  margin-top: -2px;
  margin-bottom:-10px;
}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #759dbe;
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
a:hover, a:active, a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.button-style {
  background-color: #005870;
  border: none;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.w-100 {
  width: 100% !important;
}
.mt-4, .my-4 {
  margin-top: 0.5rem !important;
}
.button-style span:after {
    content: '\00bb';
    position: relative;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button-style:hover span {
   padding-right: 25px;
}
.button-style:hover span:after {
   opacity: 1;
   right: 0;
}
navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}
.ml-lg-auto, .mx-lg-auto {
  margin-left: auto !important;
  display: none;
}
#wrapwrap {
  z-index: 0;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  overflow: auto;
}
header#top {
  display: block;
  position: sticky;
}
.navbar {
  margin-bottom: -87px;
  margin-top: -19px;
  font-weight: 600;
  margin-left: 144px;
  padding: 3rem !important;
  top: 3rem !important;
}
.ytp-cued-thumbnail-overlay-image {
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}
.unstarted-mode:not(.playing-mode) .ytp-cued-thumbnail-overlay:not([aria-hidden="true"]) {
  cursor: pointer;
}
.ytp-small-mode .ytp-related-on-error-overlay {
  padding: 12px 24px;
  display: block;
}
.ytp-multicam-menu {
  display: block;
}
.o_cc1, .navbar-light, #wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_top_menu_collapse_shown) > .navbar {
  color: white;
  height: 70px;
  padding: 15px 0;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #54b2df;
}
#header.header-scrolled, #header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.3));
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}
#o_header_standard o_header_affixed o_header_is_scrolled o_top_fixed_element {
    position: sticky;
    background: back;
}
table {
  border-collapse: collapse;
  font-size: 14px;
}
.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}
.main-nav, .main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.SingleFrame {
  width: 80%;
  height: 800px;
  margin: 0 auto;
  display: block;
}
.table tr {
    padding: 20px;
}

.table td {
    padding: 4px;
    vertical-align: text-bottom;
    border-top: 1px solid #dee2e6;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 0px;
}

h5 {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 0px 0;
    padding: 0;
    vertical-align: text-bottom;
}

ul.corevalues {
    padding-left: 0;
    list-style-type: none;
}

ul.corevalues li {
    padding-left: 2rem;
    background-image: url(http://emeacollege.ac.in/uploads/images/bullet_blue.png);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    font-size: 16px;
    margin-bottom: 10px;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
.text-justify {
    text-align: justify !important;
}
.Font-W600 {
    font-weight: 600;
}
.blue {
    color: #0f95b9 !important;
}
.pb-2, .py-2 {
  padding-bottom: .5rem !important;
}
.m-0 {
  margin: 0 !important;
}
p {
  padding: 0;
    padding-bottom: 0px;
  margin: 0 0 30px 0;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.DescBox {
    text-align: justify;
}

element {

}
p {

    padding: 0;
    margin: 0 0 30px 0;

}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 15px;
  font-weight: 400;
}


.DescBox {

    text-align: justify;

}
.text-justify {

    text-align: justify !important;

}
body {

    color: #000;
    font-family: "Nunito Sans", Arial, sans-serif;
    line-height: 1.8;

}
header .navbar .dropdown-menu {
  overflow: hidden;
  height: auto;
  min-width: 180px;
  max-height: auto;
}
.o_cc .dropdown-menu .dropdown-item, .o_cc .dropdown-menu .dropdown-item h6, .o_colored_level .o_cc .dropdown-menu .dropdown-item, .o_colored_level .o_cc .dropdown-menu .dropdown-item h6 {
  color: #1bb1dc;
}